.tableDivForDelivery{
    position: absolute;
    width: 68%;
    top: 20%;
    left: 15%;
    text-align: center;
    background-color:whitesmoke;
}
.tableDivForDelivery .addDeliveryBtn{
    position: absolute;
    left: 87%;
    top: 8%;
    height: 30px;
    cursor: pointer;
}

.deliveryTable{
    margin: 11%;
    margin-top: 3%;
    border: 2px solid white;
}
.deliveryTable th{
    background-color: #393E46;
    color: white;
    height: 35px;
    width: 177px;
}

tr{
    color: black;
}
td{
    border-bottom: 1px solid darkgray;
}
.updateBtn{
    height: 25px;
    width: 80px;
    background-color: darkgray;
    border: darkgray;
}
.deleteBtn{
    height: 25px;
    width: 80px;
    background-color: darkgray;
    border: darkgray;
}
.updateBtn:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}
.deleteBtn:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}


.popupDeliveryDiv{
    background: darkgray;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 35%;
    height: auto;
    visibility: hidden;

}
.popupDeliveryDiv h3{
    margin-left: 35%;
    margin-bottom: 4%;
}
.popupDeliveryDiv form p{
    margin-bottom: 0px;
}
.popupDeliveryDiv form input{
    margin-top: 0px;
    margin-left: 35%;
    padding: 2px;
    text-align: center;
}

.popupDeliveryDiv form .deliveryDateInpFld{
    margin-left: 40%;
}
.addDeliveryBtnDiv{
    margin-left: 28%;
    margin-bottom: 2%;
}
.addDeliveryBtnDiv button{
    width: 20%;
    height: 30px;
    cursor: pointer;
}
.addDeliveryBtnDiv .updateDeliveryBtn{
    visibility: hidden;
    position: relative;
    left: -14%;
}
.addDeliveryBtnDiv .saveDeliveryBtn{
    position: relative;
    left: 9%;
}
.addDeliveryBtnDiv .cancelDeliveryBtn{
    position: relative;
    right: 9%;
}
